table {
  font-size: 14pt;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0px;
  border-spacing: 0px;

}

tr{
  border: 0px;
}

.light {
  height: 50px;
  width: 50px;
  background-color: tan;
  display: inline-block;
}

.dark {
  height: 50px;
  width: 50px;
  background-color: navy;
  display: inline-block;
}

.col-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 50px;

}


.row-heading {
  display: inline-block;
  margin: 10px;

}

button {
  float: left;
  display: inline-block;
  margin: 10px;
}
